/* tradingLog.module.css */

/* Container for the entire log */
.tradingLog {
  @apply p-4 bg-white shadow-lg rounded-lg;
}

/* Styling for the column headers */
.columnHeaders {
  @apply mb-2 text-gray-700 font-semibold border-b-2 border-gray-300;
}

/* Styling for each position (row) */
.tradePosition {
  @apply border-b border-gray-200;
}

/* Styling for the list of position details */
.positionDetails {
  @apply list-none p-0 m-0;
}

/* Styling for the row of data */
.positionRow {
  @apply flex justify-between  py-2;
}
.positionRowHeading {
  @apply justify-between flex  py-2;
}

/* Label style for headers */
.label {
  @apply font-bold text-gray-700 relative 

}

/* Value style for position data */
.value {
  @apply text-gray-600 

}
.selectedTrader{
  @apply bg-blue-100
}